@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-text:#00131B;
    --color-error:#FC440F;
    --color-success:#04E762;
    --color-paper:#E5E5E5;
    --color-primary:#5C7AFF;
    --color-primary-light:#859BFF;
    --color-primary-superlight:#ADBCFF;
    --color-primary-dark:#0029E0;
    --color-secondary:#F1DAC4;
    --color-white:#FFFFFF; 
}
*{
    transition: 400ms;
    ::selection{
        background-color: var(--color-secondary);
        color: var(--color-text);
    }
}
html, body{
    @apply w-screen h-screen text-text
}
.liHeader{
    @apply shadow-md
    w-10
    p-[0.5rem] 
    rounded-full 
    cursor-pointer
}
.buttonHeaderShadowNone{
    @apply hover:scale-105
    px-10 
    py-2
    w-3/4
    rounded
    flex
    justify-center
    gap-3
}
.buttonHeader{
    @apply buttonHeaderShadowNone
    shadow-md
}

.buttonBackHome{
    @apply hover:scale-105
    text-center
    rounded
    bg-[var(--color-white)]
    text-[var(--color-primary)]
    shadow-md
    flex
    justify-center
    items-center
    py-2
    px-6
    gap-3
    absolute
    top-3
    left-3
}

.textAboutMe{
    @apply text-white
    bg-[var(--color-primary)]
    min-w-full
    text-center
    p-10
    2xl:h-1/5
    xl:h-2/5
    lg:h-3/5
    md:h-3/5
    h-5/6
}
.textAboutMe h1{
    @apply font-semibold
    text-2xl
    mt-10
    2xl:text-4xl
}
.textAboutMe p{
    @apply text-center
    text-lg
    2xl:text-3xl
    font-medium
    min-w-80
    w-8/12
    m-auto
    p-3
}

.skills{
    @apply grid
    lg:grid-cols-2
    grid-cols-1
    lg:divide-x
    lg:divide-y-0
    divide-y
    w-10/12
    m-auto
    text-center
    divide-[var(--color-primary)]
    border
    border-[var(--color-primary)]
    rounded-lg
    p-8
    bg-white
    relative
    bottom-10
    shadow-lg
}

.skillCard{
    @apply grid
    justify-center
    align-middle
    p-5
}

.skillCard h3{
    @apply m-auto
    p-4
    text-lg
    font-bold
}

.skillCard h6{
    @apply
    p-4
    font-medium
    text-primary
}

.iconSkillCard{
    @apply
    bg-[var(--color-secondary)]
    text-text
    p-3
    rounded-full
    m-auto
}


